body {
    font-family: 'Roboto', sans-serif;
}

#about, #skills, #contact {
         height: 600px;
}

/***** GRID *****/




.half-width {
    width: 600px;
    float: left;


/***** HEADER *****/

header {
    height: 800px;
    background-size: cover;
    margin-top: 80px;
    margin-bottom: 80px;
}

nav {
    float: right;
    padding: 0px 20px;
}
nav ul li{
    display: inline-block;
}
nav ul li a {
    font-family: roboto;
    font-size: 18px;
    font-weight: normal;
    width:auto;
    margin:auto;
    color: #000000;
    line-height: 80px;
    padding: 0px 20px;
    text-align: right;
    text-decoration: none;
    text-transform: uppercase;
}

/***** ABOUT *****/

#about .full-width {
    padding: 80px 80px;
}

#about h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 36px;
    text-align: center;
    color: #000000;
}

#about p {
    font-size: 21px;
    font-weight: normal;
    text-align: center;
    color: #000000;
    line-height: 40px;
    padding-right: 50px;
}

/***** SKILLS *****/

.full-width{
  width: 1200px;
  height: auto;
  }

}
.fourth-width {
  padding: 40px  40px;
  margin: 40px 40px;
    width: 300px;
    height:auto;
    float: left;
}

.container {
  width: auto;
  height: auto;
  margin-:left 20px;
  margin-right: 20px;
}

#skills h1 {
  font-size: 24px;
  width: 190px;
  margin: 0 auto;
  color: #ffffff;
  background: black;
  text-align: center;
  list-style: none;
  display: inline;
  padding: 5px;
  font-weight: lighter;
}





/***** CONTACT *****/

#contact .full-width {
    padding: 110px 0;
    padding-top: 50px;
}

#contact h1 {
    font-family: 'Jenna Sue', cursive;
    font-weight: normal;
    font-size: 36px;
    text-align: center;
    color: #ffffff;
    background: black;
    list-style: none;
    display: inline;
    padding: 5px;
}

#contact h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 36px;
    text-align: center;
    color: #000000;
    display: inline;
    padding-top: 50px;
    padding-bottom: 20px;
}

#contact p {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: normal;
    text-align: center;
    padding-top: 0px;
    padding-bottom: 30px;
}

#contact a {
    text-decoration: none;
    color: #c49075;
    font-weight: bold;
    font-size: 28px;
}

#contact ul {
    list-style: none;
}
#contact ul li {
     display: inline-block;
}
#contact ul img {
    text-align: center
    padding-right: 48px;
    margin: 50px;
}
